/* login modal start */
#logged-in{
    color: var(--sand);
}

#login-form-Center{
    font-family: 'Roboto', sans-serif;
}
.nav-icon a i{
    color: #fff;
}

#login-icon{
    background-color: #00000000;
    border: #00000000;
    margin: 0;
    padding: 0;
}
#login-icon:focus{
    outline: 0;
}

#loggedIn-user{
    margin-top: 1em;
}
.login-form-contentBox{
    padding-top: 0.5em;
    display: flex;
    justify-content:center;
    align-items: center;
}


.glass-bg{
    background: rgba(255, 255, 255, 0.212);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 15px;
    border: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}


.modal-backdrop.show {
    opacity: 0;
}

.login-modal-header{
    text-align: center;
    font-family: 'text me one', sans-serif;
    font-size: 1.5rem;
    color: #FFF;
    background-color: var(--teal);
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 14px 14px 0 0;
}
.login-modal-icon{
    width:60px;
}

.login-modal-icon img{
    padding: 0.5rem;
    width: 100%;
}

.login-modal-footer{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: .5em;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}
.login-modal-footer .btn.btn-primary{
    
    background-color: var(--teal);
    margin: 0.2em;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 10px 13px -12px #000000;
}
.login-modal-footer .btn.btn-primary:hover{
    filter: none;
    background-color:#25c2c2;
    border:none;
}
#login-close-btn{
    
    background-color: var(--nobel);
    margin: 0.2em;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 10px 13px -12px #000000;
}
#login-close-btn:hover{
    filter: none;
    background-color:#c7c7c7;
    border:none;
}
#login-title{
    margin-bottom: 10px;
    font-size: 1.5rem;

}

#loggedIn-msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-content{
    margin: 0 2rem;
    border: 0.5px solid #0000003d;
}
#loggedIn-msg div{
    font-size: 2rem;
}

.user-login-btn{
    display: flex;
}

.btn-hide{
    display:none;
}

#photo-slide{
    cursor: grab;
}


/* login modal end */