@import "index.css";
@import "header.css";

.reg-container{
    padding: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

#invalidCheck{
    height: 13px;
    width:13px;
}
.form-check {
    padding:0;
}

#register{
    height: 36px;
    margin: 10px 0 0;
    padding: 6px 12px;
    border: none;
    color: #FFF;
    background-color: var(--teal);
    border-radius: 15px;
}

#register:hover {
    filter: none;
    background-color: #25c2c2;
    border: none;
}