
body{
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

button {
    width: 200x;
}

.container{
    color: #205F66;
    font-family: 'Text Me One';
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.logo{
    height: 80px;
}