@import "../index.css";
@import "../store/store.css";
@import "header.css";
@import "index.css";
:root{
    --dark-green: #205F66;
    --sand: #A88B6C ;
    --calypso: #2B637C;
    --teal: #008C8C;
    --nobel: #B5B5B5;
    --mercury: #E6E6E6;
}
* {
    margin: 0;
    padding: 0;
  }


.go-to-payment-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    display: none;
}
.main-content button{
    background: none;
    border: none;
}
.wrapper{
    display: flex;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin: 50px auto 100px;

}
.trigger-area{
    display: flex;
    align-items: center;
}
.control-prev svg,
.control-next svg{
    width:70px;
    color: var(--nobel);
}
.control-prev svg:hover,
.control-next svg:hover{
    width:70px;
    color: #cacaca;
    text-shadow:0 0 5px 5px #00000059;
}
/* EventCards */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 ;
    min-width: 320px;
    border-radius: .25rem;
}
* {
    box-sizing: border-box;
}



@media (max-width: 799px){
    .scrollX {
        width:400px;
        flex-wrap: wrap;
        justify-content:center;
    }
    .trigger-area{
        display: none;
    }
    .control-prev svg,
    .control-next svg{
        display: none;
    }
    .control-prev svg:hover,
    .control-next svg:hover{
        display: none;
    }
}
@media (min-width: 800px){
    .scrollX{
        width:350px;
    }
}
@media (min-width:900px){
    .scrollX{
        width:710px;
    }
}
@media (min-width:1200px){
    .scrollX{
        width:1060px;
    }
}
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}
.scrollX {
    display: flex;
    overflow: scroll;
}

#eventAvailable{
    margin: 20px 16px 0;
    font-family:  'Roboto', sans-serif;
    font-weight: lighter;
    text-align: center;
}



.scrollX .card {
    width: 320px;
    height: 450px;
    margin: 1em;
    perspective: 1500px;
}
#event-title{
    height: 40%;
    width:100%;

}
#detail-btn{
    height:60%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.front .inner .detail-btn{
    height: 10%;
    width:100%;
    display: flex;
    justify-content: center;
}


.card .content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}
.more {
    display: none;
}
.more:checked ~ .content {
    transform: rotateY(180deg);
}
.front, .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 25px;
    
}
.front .inner, .back .inner {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em;
    transform: translateZ(80px) scale(0.94);
}
.front {
    background-color: #fff;
    background-size: cover;
    background-position: center center;
    border: 1px solid #c9c9c9;
}
.front .inner:hover{
    background-color: #00000059;
    box-shadow: 0 0 10px 2px #000000bb;
    border-radius: 25px;
}
.front:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 25px;
    backface-visibility: hidden;
    background: linear-gradient(40deg, rgba(255, 255, 255, 0.089), rgba(255, 242, 166, 0.3));
}


.front h2 {
    margin-bottom: 0.3em;
    text-transform: uppercase;
    text-align: start;
    letter-spacing: 3px;
    color: #fff;
    font-weight: 500;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    margin-top: 1.5em;
}
.back {
    transform: rotateY(180deg);
    background-image: none;
    background-color: teal;
    color: #FFF;
    border: 2px solid #f0f0f0;
}
.back .inner {
    justify-items: center;
}
.back .button {
    justify-self:flex-end;
}
.button {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    padding: 0 1.5em;
    height: 3em;
    line-height: 2.9em;
    min-width: 3em;
    background-color: transparent;
    border: solid 2px #fff;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    left: 50%;
    backface-visibility: hidden;
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.button:hover {
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    text-shadow: none;
    color: var(--dark-green);
}
.button.return {
    line-height: 3em;
    color: teal;
    background-color: #FFF;
    border-color: none;
    text-shadow: none;
}
.button.return i{
    color: #008C8C;
}
.button.return:hover {
    background-color: var(--sand);
    color: #fff;
    box-shadow: none;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #859ddf;
}
::-webkit-scrollbar-thumb:hover {
    background: #355cc9;
}
