@import "index.css";
@import "header.css";

html{
    scroll-behavior:smooth;
}

/* #sectionOne,#sectionTwo,#sectionThree{
   height:100vh;
} */

#about-us-body{
    /* overflow:hidden; */
    height: 100vh;
    scrollbar-width: none;
}

.show{
    visibility: visible !important;
}

#about-us-container{
    position: relative;
    height: 70vh
}

.section{
    visibility: collapse;
    position: absolute;
    transition: transform 2s;
}

.about-us-title{
    text-align: center;
    text-decoration: underline;
    color: var(--teal);
    line-height: 100px;
}

#sec1-accent{
    text-align: center;
    color: var(--teal);
    line-height: 120px;
}

#formula{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-background{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: var(--teal);
    border-radius: 100px;
    width: 155px;
    height: 155px;
}

.formula-text{
    color: white;
    font-size: 30px;
    line-height: 27px;
    text-align: center;
}

.fa-plus, .fa-arrow-right, .fa-equals{
    font-size: 30px !important;
    margin: 0 10px;
}

p{
    color: white;
    line-height: 30px;
    font-size: 15px;
}

/* parallax */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

@media (min-width: 765px){
    html, body {
        /* overflow: hidden; */
   }
    .background {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        overflow: hidden;
        will-change: transform;
        backface-visibility: hidden;
        height: 100vh;
        position: fixed;
        width: 100%;
        transform: translateY(30vh);
        transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
   }
    .background:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .3);
   }
    .background:first-child {
        background-image: url('image/about_us_background_1.jpeg');
        transform: translateY(-15vh);
   }
    .background:first-child .content-wrapper {
        transform: translateY(15vh);
   }
    .background:nth-child(2) {
        background-image: url('image/about_us_background_2.jpeg');
   }
    .background:nth-child(3), 
    .background:nth-child(4) {
        background-image: url('image/about_us_background_3.jpeg');
   }
   /* Set stacking context of slides */
    .background:nth-child(1) {
        z-index: 3;
   }
    .background:nth-child(2) {
        z-index: 2;
   }
    .background:nth-child(3) {
        z-index: 1;
   }
    .content-wrapper {
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        text-align: center;
        flex-flow: column nowrap;
        color: #fff;
        font-family: Montserrat;
        text-transform: uppercase;
        transform: translateY(40vh);
        will-change: transform;
        backface-visibility: hidden;
        transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
        padding: 0 10px;
   }
    .content-title {
        font-size: 12vh;
        line-height: 1.4;
   }

   .content-subtitle{
    text-align: justify;
    padding: 0 30px;
   }

    .background.up-scroll {
        transform: translate3d(0, -15vh, 0);
   }
    .background.up-scroll .content-wrapper {
        transform: translateY(15vh);
   }
    .background.up-scroll + .background {
        transform: translate3d(0, 30vh, 0);
   }
    .background.up-scroll + .background .content-wrapper {
        transform: translateY(30vh);
   }
    .background.down-scroll {
        transform: translate3d(0, -100vh, 0);
   }
    .background.down-scroll .content-wrapper {
        transform: translateY(40vh);
   }
    .background.down-scroll + .background:not(.down-scroll) {
        transform: translate3d(0, -15vh, 0);
   }
    .background.down-scroll + .background:not(.down-scroll) .content-wrapper {
        transform: translateY(15vh);
   }
    
   .footer{
       position: fixed;
       bottom: 0px;
       z-index: 10000;
       height: 145px;
   }
}


@media (max-width: 765px){
    .footer{
        height: 250px;
    }
    
    .content-title{
        color: var(--teal);
        font-weight: bold;
        text-align: center;
        font-size:30px;
        text-decoration: underline;
        margin-top:5px;
    }

    .about-us-hide-on-mobile{
        display: none;
    }

    .content-subtitle{
        padding: 0 25px;
        text-align: justify;
        color: black;
    }
}