
#cart{
    width: fit-content;
}

#inside-cart{
    color: black;
    padding: 10px;
    width: 350px;
    height: 450px;
    overflow-y: scroll;
}
.product-modal-title{
    font-weight:500;
}

.glass-bg{
    background: rgba(255, 255, 255, 0.589);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 15px;
    border: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
#empty-cart{
    margin: 30px 0;

    text-align: center;
    position: relative;
    top: 80px;
    line-height: 50px;
    color: #2B637C;
}

.cart-img{
    display: flex;
    justify-content: center;
    align-content: center;
}

.cart-item{
    border-bottom: solid var(--sand) 1px;
    padding: 1.8rem 0;
}

.cart-product-name{
    font-size: 25px;
    font-weight: bold;
    color: var(--teal);
    text-decoration: underline;
    margin: 1rem 0;
    line-height: 1.6rem;
}

.cart-product-description, .cart-product-qty{
    font-size: 12px;
    font-weight: lighter;
    color: black;
    overflow-wrap: anywhere;
    margin: 1rem 0;
}

.cart-product-price-header{
    color: var(--sand);
    font-weight: lighter;
}

.cart-product-price{
    border-top: solid var(--sand) 1px;
    border-bottom: solid var(--sand) 1px;
    color: var(--sand);
}

#cart-footer{
    justify-content: center;
}

.cart-product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.delete-btn{
    position: relative;
    top: 10px;
    color: var(--nobel);
}

.delete-btn:hover{
    color: red;
}

.delete-btn:active{
    color: darkgrey;
}
.btn-success {
    border:none;
}

#checkout-btn{
    background-color: var(--teal);
    color: #FFF;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12), 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px rgba(0, 0, 0, 0.2);
}

#checkout-btn:hover{
    box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 3px 5px rgba(0, 0, 0, 0.2);
}

#checkout-btn:active{
    box-shadow: none;
}

.cart-modal{
    font-family: 'Text Me One';
}
.modal-content#cart{
    margin:0;
}
.modal-dialog.cart-modal{
    max-width: 500px;
    position: absolute;
    right: 0;
    top: 80px;
    margin:0 10px 0;
}
/* @media (min-width: 576px){
    .modal-dialog {
        margin:0 10px 0;
    }
} */
/* end of cart pop up */

.img-inside-cart{
    width: 150px;
    height: auto;
}

#cart-alert{
    text-align: center;
    background: pink;
    color: red;
    padding: 20px 0;
    border-radius: 0 0 10px 10px;
}