@import "index.css";
@import "header.css";
.coming-soon-content{
    background-color: rgb(186, 252, 230);
    background-image: url('./image/logo.svg');
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.coming-soon-content h2{
    font-family: 'Text Me One', sans-serif;
}