/* footer */
.footer{
    background-color: var(--dark-green);
    width: 100%;
    z-index: 1000;
}

.footer-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    flex-direction: column;
}

.footer-header{
    font-size: 20px;
    margin: 15px;
    font-weight: lighter;
    text-decoration: none;
    color: white
}

.footer-header:hover{
    color: white;
}



.footer-link{
    color:white;
}

.footer-link:hover{
    color:white;
}

.footer-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 12px;
}

.footer-outer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (min-width:576px) {
    .footer{
        height:300px;
    }
}

@media (max-width: 576px){
    .footer{
        height: 220px;
    }
    .footer-outer-container{

    }
}

@media(max-width:765px){
    .footer-outer-container{
        margin: 10px 0;
    }
}