
:root{
    --dark-green: #205F66;
    --sand: #A88B6C ;
    --calypso: #2B637C;
    --teal: #008C8C;
    --nobel: #B5B5B5;
    --mercury: #E6E6E6;
}
header{
    position: sticky;
    width:100%;
    top:0;
    z-index: 1000;
}
#userLoggedIn{
    height: 0;
    width: auto;
    
}
#username{
    padding-right: 4px;
    text-align: right;
    width:150px;
    color: #FFF;
}
#header-bar{
    position: relative;
    padding: 7px 1em 0;
    background-color: var(--dark-green);
    overflow: hidden;
    width:100%;
    height:70px;
    position: sticky;
    top: 0;
    z-index:3000;
}

#header-bar-logo{
    height: 1px;
    width:100%;
    text-align: center;
    position: absolute;
    top: 10px;
    z-index: 2000;
}
#header-bar-logo a img{
    height:3em;
}
.navbar-main{
    position: relative;
    display: flex;
    justify-content: space-between;
    height:100%;
}

.navbar-left,
.navbar-right{
    display: flex;
    align-items: flex-end;

}
button:focus {
    outline: none;
}

#iconbar-btn,
#menu-btn{
    background-color: rgb(0, 0, 0,0);
    border: none;
    box-sizing: border-box;
    display: none;

}
button .menu:hover{
    border: 3px solid rgb(202, 202, 202);
}
button .menu{
    color:#FFF;
    height:37px;
    width:40px;
}

.navbar-left a.navbar-item{
    color: rgb(255, 255, 255);
    padding: 8px 12px 5px;
    text-decoration:none;
    position: relative;
}
.navbar-item p{
    line-height:normal;
    color: #FFF;
    padding: 0 10px 10px;
    margin: 0;
}
.navbar-left a:hover,
.navbar-left a.active{
    background-color: #FFF;
    color: #205F66;
}
.navbar-left a:hover p,
.navbar-left a.active p{

    color: #205F66;
}

.navbar-main button,
.navbar-right button{
    margin:0;
    padding: 0;
    border: none;
    background: none;
}
.navbar-right .nav-item{
    height: 25px;
    width:25px;
    margin: 0 4px 0;
    padding-bottom: 10px;
    box-sizing: content-box;
}
.navbar-right .nav-item i{
    color: #FFF;
    font-size: 20px;
}
.navbar-right .nav-item i:hover{
    font-size: 24px;
}

@media (max-width:1100px){

    #header-bar{
        overflow: visible;
    }
    .navbar-left a:hover p{
        text-shadow: none;
        text-align: center;
         border-radius: 15px;
         padding: 5px 5px;
         width:150px;
        background-color: #FFF;
    }
    .navbar-left a.active p{
        text-shadow: none;
        text-align: center;
         border-radius: 15px;
         padding: 5px 5px;
         width:150px;
        background-color: #FFF;
    }
    .navbar-right,
    .navbar-left{
        padding: 0 10px;
        display: none;   
        height: 100%;
        width:100%;
        position: absolute;
        top:70px;
        left:0;
    }
    .navbar-left a:hover
    .navbar-left a.active p{
        text-align: center;
        font-weight: bolder;
        width:150px;
        padding: 3px 5px;
        background-color: #ffffff;
        border-radius:15px;
        text-shadow: none;
        color: var(--dark-green);
    }
    .navbar-left a {
        text-shadow: rgb(0, 0, 0) 1px 0 10px;
    }
    .navbar-item p{
        padding: 5px 0;
    }
    #iconbar-btn,
    #menu-btn{
        display: block;
    }
    .navbar-right .nav-item{
        padding: 8px 0;
    }
    .navbar-left.active{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-right.active{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .navbar-left a.navbar-item{
        width:100%;
        position: relative;
        background-color: #81818167;

        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    .navbar-right.active .nav-item{
        margin: 0;
        width:60px;
        text-align: center;
        background-color: #81818167;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }

}

@media (min-width:1101px){
    .navbar-left a.navbar-item {
        padding: 8px 7px 0;
    }
    .navbar-right:hover,
    .navbar-left a:hover,
    .navbar-right.active,
    .navbar-left a.active{
        border-radius: 15px 15px 0 0;
    }
    .navbar-left a:hover:before,
    .navbar-left a.active:before{
        content: "";
        position:absolute;
        left:-30px;
        bottom:0;
        height:30px;
        width: 30px;
        border-bottom-right-radius: 15px;
        background:rgba(0, 0, 0, 0);
        box-shadow: 0px 15px 0px 0px #ffffff;
    }
    .navbar-left a:hover:after,
    .navbar-left a.active:after{
        content: "";
        position:absolute;
        right:-30px;
        bottom:0;
        height:30px;
        width: 30px;
        border-bottom-left-radius: 15px;
        background:rgba(0, 0, 0, 0);
        box-shadow: 0px 15px 0px 0px #ffffff;
    }
}

@media (min-width:1200px){
    .navbar-left a.navbar-item {
    padding: 8px 12px 0;
    }
}