@import "index.css";

body{
    font-family: 'Text Me One';
}
#eastereggFilpCard{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drawing{
    display: flex;
    justify-content: center;
}

#homepage-header{
    display: flex;
    
}
h1#slogan{
    width:100%;
    text-align: center;
    font-size: 60px;
    font-family: 'Text Me One';
    color: var(--sand);
    border-top: var(--sand) 1px solid;
    border-bottom: var(--sand) 1px solid;
}

#title-1{
    color: var(--sand);
    border-top: var(--sand) 1px solid;
    border-bottom: var(--sand) 1px solid;
}

.homepage-title-text{
    text-align: center;
    margin: 50px;
    font-size: 60px;
    line-height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.homepage-row-content{
    margin: 10px;
    font-size: 22px;
    line-height: 25px;
}
.homepage-row-content .message{
    text-align: justify;
}
.homepage-accent-text{
    font-size: 80px;
    line-height: 90px;
    text-align: center;
    color: #008C8C;
    font-weight: bolder;
    margin: 99px 0;
}

#hand-holding-earth-image{
    width: 250px;
}

#about-us-link{
    text-decoration: none;
    color: #008C8C;
}

#link-to-about-us{
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

#urban-farming-intro-container{
    background-color: #008C8C;
}
#urban-farming-intro-container .container{
    padding: 0 30px;
}
#title-2{
 display: flex;
 justify-content: center;
 align-items: center;
}

#title-2 div{
    color: white;
    border-top: white 1px solid;
    border-bottom: white 1px solid;
    width: fit-content;
}

#photo-slide{
    display: flex;
    overflow-x: scroll;
    padding:0 0 30px;
}

.photo{
    margin: 10px 5px;
    padding: 10px 10px 20px 10px;
    background-color: white;
}

#link-to-workshop{
    display: flex;
    justify-content: flex-end;
}

#workshop-link{
    color: white;
    text-decoration: none;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 25px;

}

.link:hover{
    text-decoration: underline 1px solid;
}

#title-3{
    color: var(--sand);
    border-top: var(--sand) 1px solid;
    border-bottom: var(--sand) 1px solid;
}


.front, .back{
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    backface-visibility: hidden;
    
}

.back{
    transform: rotateY(180deg);
    background-color: teal;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 40px;
    line-height: 57px;
    padding: 5px;
}

.card-title{
    border-bottom: solid white 1px;
    width: 100%;
    padding: 0 20px;
}


.card{
    transition: transform 2s;
    transform-style:preserve-3d;
    height: 300px;
    /* width: 300px; */
    max-height: 300px;
    /* max-width: 300px; */
    /* min-height: 300px;
    min-width: 300px; */
    background-color: transparent;
    /* margin: 10px; */
}

#special-card{
    height: 400px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.2);
}

.card-description{
    margin: 10px 0;
    overflow-wrap: break-word;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    overflow-y: scroll;
}

.card-col{
    padding: 10px;
}


#link-to-subscription{
    margin: 5px 0;
    display: flex;
    justify-content: flex-end;
}

#subscription-link{
    font-size: 22px;
    color: var(--sand);
    text-decoration: none;
}

#store-container{
    margin-bottom: 70px;
}

#homepage-banner-image{
    width: 100%;
}

.img-fluid{
    width: 100%;
    height: 100%;
}

#subscription-container{
    background-color: var(--mercury);
    padding-bottom: 50px;
}

#store-contianer{
    margin-bottom: 50px;
}

#veg-box{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.6)

}

.learnMoreBtn-container{
    display: flex;
    justify-content: center;
}

.learnMoreBtn-box{
    border: solid 1px #000000;
    box-sizing: border-box;
    width: fit-content;
    margin: 15px;
}
#learnMoreBtn{
    background-color: var(--mercury);
}

#learnMoreBtn a{
    color: #2B637C; 
}


#learnMoreBtn :hover{
    background-color: #2B637C;
    color: var(--mercury);
    border-radius: 0px;
}
#subscription-content{
    text-align: justify;
}


@media(max-width:575px){
    #subscription-container{
        padding: 0 10px 0;
    }
    .homepage-accent-text{
        margin: 40px 0;
    }
    #special-card #veg-box {
        background-color: #FFF;
    }
}
