@import "header.css";
@import "footer.css";
@import "login.css";
@import "cart.css";
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Text Me One', sans-serif; */
:root{
    --dark-green: #205F66;
    --sand: #A88B6C ;
    --calypso: #2B637C;
    --teal: #008C8C;
    --nobel: #B5B5B5;
    --mercury: #E6E6E6;
}
body {
    line-height: 100%;
}

::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

/*logo text*/
h1{
    font-family: 'Text Me One',sans-serif;
    margin: 0px;
    font-size: 2em;
}
/*Big bold header*/
h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size:3em;
}

/* thin header */
h3{
    font-family: 'Poppins', sans-serif;
    font-size:2em;
}

/* sub-header bold */
h4{
    font-family: 'Poppins', 'semi-bold' sans-serif;
    font-size:1.4em;
}

/* sub-sub-header light */
h5{
    font-family: 'Poppins', sans-serif;
    font-size:1.2em;
}

/* niche text, stylish */
h6{
    font-family: 'text me one', sans-serif;
    font-size: 1.2em;
}

p{
   font-family:  'Roboto', sans-serif;
   font-size: 1em;
}

/* Body main */
#main{
    height: 700px;
}

/* Body main end*/

.homepage-exp-img{
    width: 300px;
    height: 300px;
}

.banner-image{
    position: relative;
}

#homepage-banner-overlay{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.1rem;
    font-family: 'Poppins';
    font-weight: 500;
}

@media (max-width: 591px){
    #homepage-banner-overlay{
        line-height: 60px;
        text-align: center;    
    }
}

