@import "../index.css";

@import "index.css";



.checkout-content{
    font-family: 'Text Me One';
    padding: 30px 0;
}




#summary-container{
    margin: 10px 0;
    padding: 5px 10px;
    box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 3px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.4em;
}

#summary-container h4{
    text-align: center;
    color: var(--sand);
    border-top: var(--sand) 1px solid;
    border-bottom: var(--sand) 1px solid;
    padding: 5px 0;
}



.btn{
    background-color: var(--teal);
    color: white;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12), 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.btn:active{
    box-shadow: none;
}

.btn:hover{
    box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 3px 5px rgba(0, 0, 0, 0.2);
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--teal);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

[aria-label="mailingList"]{
    margin: 10px 0;
}