@import "../index.css";



.subscription-big-header{
    border-top: 1px solid rgba(0, 138, 138, 0.8);
    border-bottom: 1px solid rgba(0, 138, 138, 0.8);
    padding: 3px;
    text-align: center;
}
.subscription-header-container{
    margin: 20px 10px 10px 80px;
    width: 420px;
    
}

.subscription-description{
    width: 600px;
    margin: 30px;
    line-height: 1.8;
    margin-left: 28vw;
    margin-right: auto;
    text-align: center;
}


.subscription-container{
    display:flex;
    flex-direction: row;
    margin-left: 60px;
    flex-wrap: wrap;
}

.subscription-icon-container{
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.subsubHeader{
    text-align: center;
    margin-top: 10px;
}

.bi-container{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 60px;
    margin: 10px;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.bi-container i{
    background-color: var(--sand);
    padding:5px;
    width: 45px;
    height: 45px;
    font-size: 20px;
    color: var(--mercury);
    border-radius: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px; 
}


.subscription-subcontainer{
    display: flex;
    flex-direction: column;
}


.package-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.package-container img{
    width: 160px;
}


#subModalBtn{
    display: flex;
    justify-content: center;
}

#subModalBtn button{
    color:rgba(0, 138, 138, 0.8);
    outline-color:rgba(0, 138, 138, 0.8)
}


.down{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#frequency,#size{
    margin: 15px 5px 15px 5px;
}
.packageInfo-container{
    margin-bottom: 10px;
}

.packImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
}

#subModalBody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.sizePrice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    color: #fff;
    background-color: #2B637C;
    border-color: var(--mercury);
}

.btn-primary:hover{
    filter:invert(0.8)
}

.packageInfo{
border: 1px solid var(--sand);
width: auto;
padding: 10px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12), 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px rgba(0, 0, 0, 0.2);
}



#pageTwo{
    background-color: rgba(0, 138, 138, 0.8);
}

.weekly-header{
        margin: auto;
        width: 350px;
        padding-top: 30px;
        
}
.weekly-container{
    background-color:rgba(255, 255, 255, 0.9) ;
    width: 90%;
    height: 90%;
    margin: auto;
}
.subscription-container{
    justify-content: center;
}


.weekly-menu-bar{  
    margin-top:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll; 
}

.subscription-product-container{
    display: flex;
    justify-content: space-evenly;
}

.subscription-product-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}
.subscription-product-name{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

.subscription-product-description{
    font-size: 15px;
    font-weight: lighter;
    min-height: 300px;
    display: flex;
    align-items: center;
    margin-top:18px;
    margin-bottom: 18px;
}

.subscription-product-img-box{
    display:flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 300px;
}

.subscription-product-img{
    height: auto;
    width:300px;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

#signature-pic-container{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#raddishpic{
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    max-height: 300px;
    margin:20px;
    filter:brightness(90%) drop-shadow(-30px 15px 4px rgba(0,0,0,0.2));
}

#signature-intro-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    color: var(--mercury);
    padding-left: 50px;
    padding-right: 80px
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container-fluid{
        display: flex;
        flex-direction: column;
       align-items: center;
       font-size: 0.9rem;
    }
    .subscription-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px;
    }
    .subscription-big-header{
        margin:10px;
        max-width: 80%;
        font-size: 1.2rem;
    }
    .subscription-description p{
     margin:0;
     max-width: 100%;
     
    }
    .subscription-description{
        margin:0;
        max-width: 90%;
    }
    h5{
        font-size: 0.9rem;
    }
    .subscriptionImg{
        display: flex;
        flex-direction: column;
       align-items: center;
    }
    img{
        max-width: 80%;
    }
    .veggie-icon{
        min-width: 30%;
    }
    .subscription-product-item{
        min-width: 200px;
        flex-direction: row;
       flex-wrap: wrap;
    }
    .subscription-product-description{
        min-height:100px;
    }
  }

  @media (max-width:991px){
    .packImg img{
        width: 126px;
        height: 126px;
    }

    .subscription-product-img-box{
        max-height: 200px;}
  }