
body{
    background-color: #205F66;
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}


button {
    width: 200x;
}

.container{
    color: white;
    font-family: 'Text Me One';
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.logo{
    height: 80px;
}

#back-to-home{
    color: white;
    background-color: #205F66;
    box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 3px 5px rgba(0, 0, 0, 0.2);
    margin: 5px;
    border: none;
}

#back-to-home:active{
    box-shadow: none;
    border: none;
}

#back-to-home:focus-visible{
    box-shadow: none;
    border: none;
}

#back-to-home:focus{
    box-shadow: none;
    border: none;
}