@import "index.css";

@media (min-width: 769px){
    body{
        overflow:hidden;
    }
}



.checkout-content{
    font-family: 'Text Me One';
}

#total-price{
    position: sticky;
    /* right: 200px;
    top: 80px; */
    background-color: var(--teal);
    color: white;
    padding: 10px 15px;
    border-radius: 3px;
    font-family: 'Text Me One';
    box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.2), 0px 11px 15px rgba(0, 0, 0, 0.12), 0px 9px 46px rgba(0, 0, 0, 0.14);
    bottom: 0px;
    text-align: center;
    height: 35px;
    opacity: 0.8;
    font-size: 25px;
}

.checkout-row{
    padding: 40px 0;
}

.cart-info{
    overflow-y: scroll;
    height: 500px;
}

.cart-item{
    margin: 10px 0;
    padding: 5px 10px;
    box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.product-name{
    color: var(--teal);
    font-family: 'Text Me One';
    font-size: 1.8rem;
    text-align: center;
    text-decoration: underline;
    margin: 10px 0;
}

.product-qty{
    text-align: center;
    font-family: 'Text Me One';
    font-weight: bolder;
    margin: 20px 0;
}

.product-price{
    text-align: center;
    color: var(--sand);
    border-top: var(--sand) 1px solid;
    border-bottom: var(--sand) 1px solid;
    padding: 5px 0;
}

.btn{
    background-color: var(--teal);
    color: white;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12), 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.btn:active{
    box-shadow: none;
}

.btn:hover{
    box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 3px 5px rgba(0, 0, 0, 0.2);
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--teal);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

[aria-label="mailingList"]{
    margin: 10px 0;
}

#address-form{
    margin-top: 10px;
}

.store-checkout-img{
    width: 200px;
    height: auto;
}
