/* store content*/
@import "../index.css";

.store-content, -modal-container{
    font-family: 'Text Me One';
}

/* pop up info box */
.product-modal-container{
    border: var(--teal) 3px solid;
    padding: 0 5px;
}

.product-modal-title{
    color: var(--teal);
    font-size: 40px;
}

.product-modal-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.qty-control{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

.qty-control-btn{
    color: var(--teal);
    font-size: 25px;
    margin: 0 30px;
}

.qty-control-btn:active{
    color: var(--calypso);
}

[name="qty"]{
    font-size: 20px;
}

.product-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.product-box-description{
    font-weight: lighter;
    text-decoration: underline;
}

.product-box-price{
    border-top: 2px var(--sand) solid;
    border-bottom: 2px var(--sand) solid;
    color: var(--sand);
    padding: 5px 10px;
}

.product-modal-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-modal-add-to-cart-btn{
    color: white;
    background-color: var(--teal);
    width: 250px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12), 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.product-modal-add-to-cart-btn:hover{
    color: white;
    box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.product-modal-add-to-cart-btn:active{
    box-shadow: none;
    background-color: var(--calypso);
}

#cart-footer{
    flex-direction: column;
}

.store-modal-img{
    width: 200px;
    height: auto;
}

/* end of pop up info box */

/* category */

.category-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.category-header{
    color: var(--sand);
    border-top: 1px solid var(--sand);
    border-bottom: 1px solid var(--sand);
    width: 300px;
    text-align: center;
    margin: 5px;
    font-size: 3.1rem;
    font-weight: lighter;
    padding: 1.25rem 0;
    line-height: 50px;
}

.category-description{
    font-size: 1.6rem;
    margin: 10px 0;
}

/* end of category */

/* product */
.product-name{
    font-size: 1.25rem;
    font-weight: lighter;
    color: var(--teal);
}

.product-description{
    font-size: 0.6rem;
}

.store-row{
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-container{
    display: flex;
    margin-top: 10px;
    overflow-x: scroll;
}

.product-item{
    margin: 10px;
}

.product-item{
    padding: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.2);
}

.product-item:hover{
    box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.2), 0px 11px 15px rgba(0, 0, 0, 0.12), 0px 9px 46px rgba(0, 0, 0, 0.14);
}

.product-item:active{
    box-shadow: none;
    padding: 10px;
}

.store-row{
    margin: 5px;
}

/* end of product */

/* mobile responsive setting */
@media(max-width: 576px){
    .category-description{
        visibility: hidden;
    }

    .odd-number-row{
        flex-direction: column-reverse;
    }

    .product-img{
        height: 200px;
        width:200px;
    }
}

.product-img{
    height: auto;
    width:300px;
}

/* end of mobile responsive setting */

/* shopping cart */
#cart-background{
    background-color: white;
    border: var(--teal) 1px solid;
    border-radius: 40px;
    width: 18rem;
    height: 30rem;
    position:fixed;
    top: 80px;
    right: 0;
    padding: 20px;
    overflow-y: scroll;
}

